@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 400;
  src: url("/public/fonts/Tiempos-Headline/Tiempos-Headline-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 500;
  src: url("/public/fonts/Tiempos-Headline/Tiempos-Headline-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 600;
  src: url("/public/fonts/Tiempos-Headline/Tiempos-Headline-Semibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 700;
  src: url("/public/fonts/Tiempos-Headline/Tiempos-Headline-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("/public/fonts/SF-Mono/SF-Mono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  src: url("/public/fonts/SF-Pro-Display/SF-Pro-Display-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("/public/fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("/public/fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  src: url("/public/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url("/public/fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff2")
    format("woff2");
}

.font-serif {
  font-family: "Tiempos Headline", serif;
}

.font-mono {
  font-family: "SF Mono", monospace;
}

.font-sans {
  font-family: "SF Pro Display", sans-serif;
}

/* Fit to page on Nuxt.js using Tailwinds CSS */
#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

/* animate fade in blocks */
/* TODO: TEMP REMOVED, GLITCHES ON PAGE BACK */
/*.fade-in {*/
/*  transition: 0.2s all ease-out;*/
/*  transform: scale(0.8)translate(0, 20%);*/
/*  opacity: 0;*/
/*}*/

.fade-initial {
  opacity: 0.05;
  pointer-events: none;
  filter: blur(6px);
}

.fade-in-nav {
  transition: 0.6s all cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(0.95) translate(-20%, 0);
  opacity: 0.05;
  filter: blur(6px);
}

.fade-in-hero {
  transition: 0.6s all cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(0.9) translate(0, -10%);
  opacity: 0.05;
  filter: blur(6px);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
