@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Improve perceived performance */
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff2")
      format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff2")
      format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Mono";
    src: url("/fonts/SF-Mono/SF-Mono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Tiempos Headline";
    src: url("/fonts/Tiempos-Headline/Tiempos-Headline-Regular.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Tiempos Headline";
    src: url("/fonts/Tiempos-Headline/Tiempos-Headline-Medium.woff2")
      format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Tiempos Headline";
    src: url("/fonts/Tiempos-Headline/Tiempos-Headline-Semibold.woff2")
      format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Tiempos Headline";
    src: url("/fonts/Tiempos-Headline/Tiempos-Headline-Bold.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  img {
    content-visibility: auto;
  }
}

@layer utilities {
  .fade-in-hero,
  .fade-in-nav,
  .fade-in-expand,
  .fade-in {
    will-change: opacity, transform;
    transform: translateZ(0); /* Force hardware acceleration */
  }
}

.font-serif {
  font-family: "Tiempos Headline", serif;
}

.font-mono {
  font-family: "SF Mono", monospace;
}

.font-sans {
  font-family: "SF Pro Display", sans-serif;
}

/* Fit to page on Nuxt.js using Tailwinds CSS */
#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

.fade-initial {
  opacity: 0.05;
  pointer-events: none;
  filter: blur(6px);
}

.fade-in-nav {
  transition: 0.6s all cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(0.95) translate(-20%, 0);
  opacity: 0.05;
  filter: blur(6px);
}

.fade-in-hero {
  transition: 0.6s all cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(0.9) translate(0, -10%);
  opacity: 0.05;
  filter: blur(6px);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
