@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 400;
  src: url('~/assets/fonts/Tiempos-Headline/Tiempos-Headline-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 500;
  src: url('~/assets/fonts/Tiempos-Headline/Tiempos-Headline-Medium.woff2') format('woff2');
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 600;
  src: url('~/assets/fonts/Tiempos-Headline/Tiempos-Headline-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: "Tiempos Headline";
  font-weight: 700;
  src: url('~/assets/fonts/Tiempos-Headline/Tiempos-Headline-Bold.woff2') format('woff2');
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url('~/assets/fonts/SF-Mono/SF-Mono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  src: url('~/assets/fonts/SF-Pro-Display/SF-Pro-Display-Light.woff2') format('woff2');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url('~/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url('~/assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff2') format('woff2');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  src: url('~/assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url('~/assets/fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff2') format('woff2');
}


.font-serif {
  font-family: "Tiempos Headline", serif;
}

.font-mono {
  font-family: "SF Mono", monospace;
}

.font-sans {
  font-family: "SF Pro Display", sans-serif;
}

/* Fit to page on Nuxt.js using Tailwinds CSS */
#__nuxt {
  height: 100%
}

#__layout {
  height: 100%
}

/* animate fade in blocks */
/* TODO: TEMP REMOVED, GLITCHES ON PAGE BACK */
/*.fade-in {*/
/*  transition: 0.2s all ease-out;*/
/*  transform: scale(0.8)translate(0, 20%);*/
/*  opacity: 0;*/
/*}*/

.fade-in-nav {
  transition: 0.3s all ease-out;
  transform: scale(0.9) translate(-20%, 0);
  opacity: 0;
}

.fade-in-hero {
  transition: 0.3s all ease-out;
  transform: scale(0.8) translate(0, -10%);
  opacity: 0.02;
}

/* Base text sizes for default tags, useful with markdown */
@layer base {
  h1 {
    @apply font-semibold;
    @apply text-3xl;
    @apply pt-8;
    @apply pb-4;
  }

  h2 {
    @apply font-medium;
    @apply text-2xl;
    @apply pb-4;
  }

  h3 {
    @apply font-medium;
    @apply text-xl;
    @apply pb-4;
  }

  h4 {
    @apply font-medium;
    @apply text-xl;
    @apply pb-1.5;
  }

  p {
    @apply leading-7;
    @apply pb-4;
  }

  ul {
    @apply list-disc;
    @apply leading-7;
    @apply pl-5;
    @apply pt-1;
    @apply pb-5;
  }

  li {
    @apply pb-2;
  }

  hr {
    @apply my-8;
  }
}