nuxt/node_modules
nuxt/*.log*
nuxt/.data
nuxt/.nuxt
nuxt/.nitro
nuxt/.cache
nuxt/.output
nuxt/.wrangler
nuxt/.env
nuxt/public/radison-akerman-resume.pdf
nuxt/public/radison-akerman-cv.pdf

nuxt/summarize/node_modules

.DS_Store

.idea